<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="main.css">
    <title>My Profile Page</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="about">about</a>
      <a href="skills">skills</a>
    </nav>
    <h1>My Profile Page</h1>
    <%= yield %>
    <footer>Made by The People's Champ aka Guapo COPYRIGHT2019</footer>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
